.addButton {
  background-color: black;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin: 20px;
}
.logoutButton {
  background-color: white;
  color: black;
  border: 1px solid black;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}
.logoutButton:hover {
  background-color: black;
  color: #fff;
}
.container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
