.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  font-family: "Assistant", sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: row;

  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.right {
  flex: 2;
  border-radius: 0px 10px 10px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.customForm {
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 40px;
  font-weight: 700;
}

.styledFormControl {
  margin-top: 20px;
  padding: 5px;
}

.submitButton {
  background-color: #000000;
  border: none;
  margin-top: 20px;
  width: 100px;
  height: 40px;
  color: white;
}

.submitButton:hover {
  background-color: #068ddb;
}

.loginLink {
  margin-top: 20px;
  text-align: left;
  font-weight: 500;
}

.loginLink span {
  color: #1c9aef;
  cursor: pointer;
}

.loginLink span:hover {
  text-decoration: underline;
}
